body{
  background-color: gray;
}

.footer{
  display: flex;
  justify-content: space-around;
}

.title{
  text-align: center;
  color: #fff;
}

.lien li{
  list-style: none;
}

.lien li a{
  text-decoration: none;
  color: #fff;
}